*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

:root{

    --font-prin: 'Josefin Sans', sans-serif;
    --font-titulo: 'Berkshire Swash', cursive;
    --alloy-orange: #c66300ff;
    --ut-orange: #f6820aff;
    --dark-orange-web: #ff8800ff;
    --magnolia: #e3e1e8ff;
    --floral-white: #fffaf2ff;
    --cardapio: #fffaf2;
}

.containerfull{
    max-width: 100%;
    margin: auto;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.container1{
    max-width: 1000px;
    margin: auto;
}

.container8{
    max-width: 800px;
    margin: auto;
}

.space{
    padding: 10px;
}

.spaceud{
    padding: 10px 0px;
}

.spacelr{
    padding: 0px 10px;
}

.center{
    margin: auto;
    text-align: center;
}

.clear{
    clear: both;
}

.flex{
    display: flex;
}


/* -------config---- */

/* --------header -------*/


header div.containerfull{
    padding: 5px 20px 0px 0px;
    text-align: right;
    font-size: 20px;
    
    background-color: var(--dark-orange-web);
}

header div.containerfull a{
    color: #fff;
    margin-right: 20px;
}

header div a:hover{
    color: #000;
}

div.menu div.logo{
    display: inline;
    padding-left: 25px;
}

div.menu div.nav{
    padding: 10px;
    float: right;
}

div.menu div.nav a{
    margin-right: 20px;
    color: #000;
    font-size: 16px;
}

div.menu div.nav a:hover{
    color: var(--dark-orange-web);
}

div.menu div.nav a:last-child{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: var(--dark-orange-web);
    color: #fff;
}

div.menu div.nav a:last-child:hover{
    background-color: var(--alloy-orange);
}

/* --------- /header ------ */

/* --------banner-------- */

section.banner{
    background-image: url(../assets/asset\ 11.jpeg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

section.banner .contrast{
    background-color: #0000005b;
    height: 500px;
}

section.banner .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.banner .banner-text h1{
    font-size: 80px;
    color: #fff;
    font-family: var(--font-titulo);
}

section.banner .banner-text p{
    font-size: 35px;
    color: var(--dark-orange-web);
    margin: 10px 0px;
}

section.banner .banner-text span{
    color: #fff;
    font-size: 30px;
}

/* -------- /banner ------- */

/* ------ quemsou ------ */
section.quemsou{
    background-image: url(../assets/asset\ 12.jpeg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px 15px;
}

section.quemsou div.quemsou-text h2{
    font-size: 68px;
    font-family: var(--font-titulo);
    padding-top: 10px;
    color: var(--alloy-orange);
}

section.quemsou div.quemsou-text p{
    max-width: 350px;
    font-size: 18px;
    padding: 15px 10px;
    line-height: 23px;
    text-align: justify;
}

#negrito{
    font-weight: bolder;
    font-size: 30px;
    line-height: 35px;
}

section.quemsou div.quemsou-text a{
    font-size: 18px;
    color: var(--ut-orange);
}

section.quemsou div.quemsou-text a:hover{
    color: var(--alloy-orange);
}

.qmsou{
    max-height: 670px;
} 

section.quemsou div.quemsou-horario{
    background-image: url(../assets/asset\ 13.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 33%;
}

section.quemsou div.contrast{
    background-color: #00000044;
    height: 650px;
    position: relative;
}

div.horario-text{
    position: absolute;
    bottom: 20%;
    left: 20%;
}

div.quemsou-horario h3{
    color: #fff;
    font-family: var(--font-titulo);
    font-size: 60px;
    margin-bottom: 20px;
}

div.quemsou-horario span{
    color: #fff;
    font-size: 20px;
}


/* -------- /quemsou --------*/
/* ----------- cardapio ---------- */

section.cardapio{
    background-color: var(--cardapio)
}

section.cardapio div.titulo h2{
    color: var(--alloy-orange);
    font-family: var(--font-titulo);
    font-size: 50px;
    padding: 10px 0px;
}

section.cardapio div.titulo span{
    font-size: 25px;
}

section.cardapio div.cardapio_{
    columns: 2;
}

section.cardapio div.cardapio_ h3{
    display: inline;
    font-weight: bolder;
    font-size: 25px;
}

section.cardapio div.cardapio_ span{
    font-size: 25px;
    color: var(--alloy-orange);
    padding-left: 15px;
    font-weight: bolder;
}

section.cardapio div.cardapio_ p{
    font-size: 18px;
    margin-top: 15px;
}

section.cardapio div.cardapio_menu{
    padding: 15px 15px;
    columns: 2;
    display: inline-block;
    max-width: 700px;
}